@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (max-width: 800px) {
    body {
		width: 100%;
		display: flex;
		align-content: space-between;
    }

    #contenedor {
		background-color: rgb(51, 13, 13);
    }

    nav {
        width: 100%;
        border-bottom: 2px solid black;
		background: rgb(212, 165, 78);
    }

    section, aside {
        width: 100%;
		margin: auto;
		border-bottom: 2px solid black;
    }

    h1 {
        width: 100%;
        background: #8FA68E;
        margin: 0;
        padding: 10px;
        text-align: left;
    }

    /* Optional: Adjust links or navigation items */
    ul {
        text-align: left;
    }
}