#contenedor {
    border: 2px solid black;
    margin: 0 auto;
    width: 900px;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

}

#rojo{
    background-color: red;
    text-align: center;
    width: 150px;
    height: 150px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center; 
}

#verde{
    background-color: green;
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

#azul {
    background-color: blue;
    text-align: center;
    width: 150px;
    height: 150px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center; 
}